{
	"email" : "",
	"password" : "",
	"bot_token" : "MzIwNjM1MDU0NTc5Nzc3NTM3.DCU59w.11T40CJKeQbjfvBabxh5YFAXzcYt",
	"client_id" : "320635054579777537",
	"youtube_api_key": "create one here https://console.developers.google.com",
	"google_custom_search": "follow instructions at https://stackoverflow.com/questions/34035422/google-image-search-says-api-no-longer-available",
	"imgflip_username": "https://imgflip.com/ username",
	"imgflip_password": "https://imgflip.com/ password",
	"wolfram_api_key": "J998V7-WL78LLRWWX"
}
